.button {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 6px;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 20px;
}

.button:hover {
  transform: scale(0.97);
}
.button_box {
  width: 100%;
}
