.step3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step3-desc-div {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.step3-desc {
}
